html, body {
  height: 100%;
  width: auto;
}

.gbfrf-main-content {
  height: 100%;
}

.gbfrf-settings-fab__container {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}

.gbfrf-columns {
  height: 100%;
  overflow-x: scroll;
  width: auto;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.gbfrf-column {
  width: 350px;
  height: 100%;
  flex: 0 0 auto;
}

@media (max-width: 460px) {
  .gbfrf-column {
    width: 90%;
  }
}

.gbfrf-column__header {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.gbfrf-column__header-row {
  padding: 20px !important;
  background-position-y: 20%;
  background-size: 100% !important;
}

.gbfrf-column__header-row-icon {
  vertical-align: middle;
}

.gbfrf-tweets {
  padding: 0 !important;
  margin: 0 !important;
}

.gbfrf-tweet {
  border-bottom: 1px dashed grey;
  transition: background-color 0.3s ease;
  letter-spacing: 0.02em !important;
}

.gbfrf-tweet:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.gbfrf-tweet__raid-id {
  font-weight: bold;
}

.gbfrf-tweet__avatar {
  width: 24px;
  height: 24px;
  border-radius: 10%;
  margin-right: 10px;
  align-self: baseline;
}

.gbfrf-tweet__avatar--offset {
  margin-top: 15px;
}

.gbfrf-tweet__content {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.gbfrf-tweet__username {
  font-size: small;
}

.gbfrf-tweet__text {
  margin-left: 10px;
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 6px;
  background: #eaeaea;
  position: relative;
}

/**
 * Triangle on the top left of a speech bubble
 * https://codepen.io/Founts/pen/gmhcl
 */
.gbfrf-tweet__text::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 10px solid;
  border-color: #eaeaea transparent transparent transparent;
}

.gbfrf-tweet__timestamp {
  font-size: small;
  padding-left: 0.5em;
}

.gbfrf-follow__dialog {
  max-width: 80%;
  height: 80%;
  width: 400px !important;
  padding: 0;
}

.gbfrf-follow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gbfrf-follow__content {
  overflow-y: scroll;
  max-height: 100%;
  flex: 1 1;
}

.gbfrf-follow__boss-box {
  margin: 5px;
  background-color: #444;
  background-size: 100%;
  background-position-y: 20%;
  height: 50px;
}

.gbfrf-follow__boss-box:hover {
  cursor: pointer;
}

.gbfrf-follow__boss-text {
  color: #fff;
  font-size: 17px;
}

